<%- include("../partials/header") %>

<header class="indexHeader">
    <div>
        <form action="/properties_rent" method="GET" class="form-inline" id="searchForm">
            <div class="form-group" id="formFlex">
                <button type="submit" value="Search" class="btn btn-outline-info"><i class="fas fa-home"></i></button>
                <input type="text" name="search" placeholder="Property Search" class="form-control">
            </div>
        </form>
    </div>
</header>

<div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% properties_rent.forEach(function(property_rent){ %>
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail" id="propertyThumbnail">
                    <img src="<%= property_rent.image %>"> 
                    <div class="caption-full">
                        <h4><em><%= property_rent.location %></em></h4>
                        <h4>Size: <strong><em><%= property_rent.size %> m²</em></strong></h4>
                        <h4>Price: <strong><em> €<%= property_rent.price %>/night</em></strong></h4>
                        <p>
                            <a href="/properties_rent/<%= property_rent._id %>" class="btn btn-md btn-outline-danger">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include("../partials/footer") %>
