<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="thumbnail" id="editThumbnail">
                <img class="image-responsive" src= "<%= property_rent.image%>">
                <div class="caption-full">
                    <h4 class="pull-right">€<%= property_rent.price %>/night</h4>
                    <h4><a class="properyHeader"><%= property_rent.location %></a></h4>
                    <h4 class="propertySize"><strong>Size: </strong><%= property_rent.size %> m²</h4>
                    <h4 class="propertySize"><strong>Bedrooms: </strong><%= property_rent.bedroom %></h4>
                    <p class="propertyDesc"><%= property_rent.description %></p>
                    <p class="author"><em>Submitted By <strong><%= property_rent.owner.username %>  </strong><%= moment(property_rent.createdAt).fromNow() %></em></p>
                    <% if(currentUser && property_rent.owner.id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){ %>
						<a class = "btn btn-warning" href="/properties_rent/<%= property_rent._id %>/edit">EDIT</a>
						<form class="deleteForm" action="/properties_rent/<%=property_rent._id %>?_method=DELETE" method="POST">
							<button class = "btn btn-danger">DELETE</button>
						</form>
                    <% } %>
                </div>
			</div>
            <!---ADD COMMENTS-->
            <%- include("../comments/new") %>       
	</div>
	<div class= "col-md-4">
		<div id ="map"></div>
	</div>
</div>
<script>
    function initMap() {
      var lat = <%= property_rent.lat %>;
      var lng = <%= property_rent.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= property_rent.name %><br />
        <%= property_rent.location %></strong>
        <p><%= property_rent.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjBr_3ek853zT63b6v0ilc9mxczf__yMQ&callback=initMap"></script>
<%- include("../partials/footer") %>