<footer class="footer">
    <hr>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 col-sm-12 col-md-3">
                <div class="footer__links-header"> Cities </div>
                <div class="footer__links-list">
                    <div class="footer_link">Athens</div>
                    <div class="footer_link">Los Angeles</div>
                    <div class="footer_link">Sydney</div>
                    <div class="footer_link">Thessaloniki</div>
                    <div class="footer_link">Tokyo</div>
                    <div class="footer_link">Trikala</div>
                </div>
            </div>
            <div class="col-6 col-sm-12 col-md-3">
                <div class="footer__links-header"> Company</div>
                <div class="footer__links-list">
                    <a href="/aboutus"><div class="footer_link">About Us</div></a>
                    <a href="/careers"><div class="footer_link">Careers</div></a>
                    <a href="/contact"><div class="footer_link">Contact Us</div></a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3" id="socialMobile">
                <div class="footer__links-header"> Join Us </div>
                <div class="footer__links-list">
                    <a href="https://el-gr.facebook.com/vasilis.gougaras"><img src="/images/facebook.png" class="social"></a>
                    <a href="https://gr.linkedin.com/in/vasileios-gkougkaras"><img src="/images/linkedin.png" class="social"></a>
                    <a href="https://www.instagram.com/billy_g91/?hl=en"><img src="/images/instagram.png" class="social"></a>
                    <a href=""><img src="images/twitter.png" class="social"></a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            	<div id="logo">
                	<img src="/images/logo.png" alt="logo">
            	</div>
        	</div>
    	</div>
        <div class="row">
            <div class="container">
                <hr>
                <p class="text-center">Copyright © 2020 Unreal Estate. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="/js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        duration:2000,
    });
  </script>
</body>
</body>
</html>