<!DOCTYPE html>
 	<html>
     	<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Unreal Estate</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
			<script src="https://kit.fontawesome.com/a18c53aba4.js" crossorigin="anonymous"></script>
     	</head> 

     	<body>  

		<!--NAVBAR AND JUMBOTRON SECTION-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Unreal Estate</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						For Sale
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/properties">Buy a Home</a>
							<a class="dropdown-item" href="/properties_rent">Rent a Home</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/lands">Buy Land</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Property Owner
						</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/properties/new">Sell your Property</a>
						<a class="dropdown-item" href="/properties_rent/new">Rent your Property</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/lands/new">Sell your Land</a>
					</div>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto" style="margin-left:0.5rem!important">
					<% if(!currentUser){ %>
						<li class="nav-item dropdown"><a href="/login">Login</a></li>
						<li class="nav-item dropdown" id="pushDrop"><a href="/signup">Sign Up</a></li>
					<% }else { %>
					<% if(currentUser && currentUser.isAdmin){ %>
						<li class="nav-item dropdown"><a href="/users/<%= currentUser.id %>"> Signed In As Admin <%= currentUser.username %>  <i class="fas fa-cog"></i></a></li>
						<li class="nav-item dropdown" id="pushDrop"><a href="/logout">Logout</a></li>
					<% } else { %>
						<li class="nav-item dropdown"><a href="/users/<%= currentUser.id %>"> Signed In As <%= currentUser.username %>  <i class="fas fa-cog"></i></a></li>
						<li class="nav-item dropdown" id="pushDrop"><a href="/logout">Logout</a></li>
					<% } %>
					<% } %>
				</ul>
			</div>
		</nav> 
		<div class="container">
			<% if(error && error.length >0){ %>
				<div class="alert alert-danger" role="alert" id="error"><%= error %></div>
			<% } %>
			<% if(success && success.length >0){ %>
				<div class="alert alert-success" role="alert" id="errorSuccess"><%= success %></div>
			<% } %>
		</div>