<div class="well">
    <div class="text-right" id="push">
      	<a class="btn btn-success pull-right" id="commentsBtn" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
        <span><i class="fas fa-plus"></i></span> Add new comment</a>
    </div>
    <h4><strong>Comments <span><i class="fas fa-comment"></i></span></strong></h4>
    <div class="collapse" id="collapseComment">
      	<div class="well" id="commentsWell">
         	 <% if(!currentUser) { %>
        		<h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
          	<% } %>
          	<% if(currentUser) { %>
        		<h4>Write your comment <span><i class="fas fa-pen"></i></span></h4>
				<form id="add-comment-form" action="/properties_rent/<%= property_rent._id %>/comments" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
					</div>
					<div class="form-group">
						<textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-success btn-sm">Comment <span><i class="far fa-comment"></i></span></button>
					</div>
				</form>
			<% } %>
		</div>
	</div>

    <hr>

    <% if (property_rent.comments.length === 0) { %>
    	<em id="noComments">No comments yet.</em>
    <% } %>
    <% property_rent.comments.forEach(function(comment) { %>
    	<div class="row">
      		<div class="col-md-12">
        		<strong>
            	<% if (currentUser && currentUser._id.equals(comment.owner.id)) { %>
					<!--If the current user owns the comment, change the color of the user icon-->
					<span style="color: orange;"><i class="fas fa-user"></i></span>
				<% } else { %>
					<!--Else just display it black-->
					<span><i class="fas fa-user"></i></span>
				<% } %>
				<%= comment.owner.username %>
				</strong>
        		<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
        		<p><%= comment.text %></p>
        		<% if (currentUser && currentUser._id.equals(comment.owner.id)|| currentUser && currentUser.isAdmin) { %>
					<a class="btn btn-xs btn-warning" id="editBtn" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
					Edit</a>
					<form id="delete-form" action="/properties_rent/<%= property_rent._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
						<button class="btn btn-xs btn-danger">Delete</button>
					</form>
            	<div class="collapse" id="collapseEdit<%= comment._id %>">
					<div class="well" id="editWell">
						<h4>Edit your comment <span><i class="fas fa-pen"></i></span></h4>
						<form id="edit-comment-form<%= comment._id %>" action="/properties_rent/<%= property_rent._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
							<div class="form-group">
								<input class="form-control" type="text" disabled value="<%= currentUser.username %>">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-warning btn-sm" id="completeEdit">Edit comment <span><i class="far fa-comment"></i></span></button>
							</div>
						</form>
            		</div>
        		</div>
    			<% } %>
        		<hr>
    		</div>
    	</div>
    <% }) %>
</div>