<%- include("./partials/header") %>

<div id="welcome-section"></div>

<div class="container">
    <div class="row">
        <main role="main" class="col-md-9 col-lg-10" id="aboutus">
            <h3>WELCOME TO UNREAL ESTATE<br><br>
                FIND YOUR DREAM HOME.</h3>
            <h4>Our mission</h4>
            <p>Our ultimate goal in the Real estate industry is to provide our customers with the best possible match.<br>
               We deeply respect each individuals needs and try to fullfil them by finding them the home of their dreams<br/>
            <h4>Who we serve</h4>
            <p>We serve anyone and everyone, with more than 10000+ listed properties for rent or sale, we are deeply confident that
               the house of your dreams is withing your grasp.
            </p>
            <h4>How we do it</h4>
            <p>Having recruited more than 400 people sharing the same values and principles as us, from renovators and constructors
               to software engineers and property consultors. Our team is growing stronger by the day and we strive to succeed!!
            </p>
            <h4>Our values</h4>
            <p>We made a commitment to treat everyone person equally and not to be discriminated against on the basis of criteria such as age, disability, nationality, race and religion.</p>
        </main>
    </div>
</div>

<%- include("./partials/footer") %>