<%- include("./partials/header") %>

<div id="career-banner"></div>

<div class="container">
    <div class="row">
        <main role="main" class="col-md-9 col-lg-10" id="careers">
            <h3>Career Openings</h3>
            <h6>There are currently no openings,check back soon for a chance to become one us!!</h6>
        </main>
    </div>
</div>

<%- include("./partials/footer") %>