<%- include("./partials/header") %>


<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="cardlog" id="propertyList">
            <div class="card-header">
                <h3>Contact Form</h3>
            </div>
            <div class="card-body">
                <form action="/contact" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Full-name" name="name" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="E-mail" name="email" required>
                    </div>
                    <div class="form-group">
                        <textarea rows="5" class="form-control" type="text" placeholder="Add description" name="message" required></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" id="propertyBtn">Send</button>
                    </div>
                </form>
             </div>
            <div class="card-footer">
                <a href="/contact">Go back</a>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
