<%- include("./partials/header") %>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="cardlog" id="forgotForm">
            <div class="card-header">
                <h3>Password Reset</h3>
            </div>
            <div class="card-body">
                <form class="login-form validate-form" name='forgot' action="/forgot" method="POST">
                    <div class="input-group form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-envelope"></i></span>
                        </div>
                        <input  type='email' class="form-control" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger float-right login_btn" value="Reset" id="propertyBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>