<!DOCTYPE html>
  	<html>
      	<head> 
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Unreal Estate</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
			<script src="https://kit.fontawesome.com/a18c53aba4.js" crossorigin="anonymous"></script>
		</head> 
 
		<body>  
			<!--NAVBAR AND JUMBOTRON SECTION-->
			<div id="navJumbo">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="/">Unreal Estate</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								For Sale
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/properties">Buy a Home</a>
									<a class="dropdown-item" href="/properties_rent">Rent a Home</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/lands">Buy Land</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Property Owner
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/properties/new">Sell your Property</a>
									<a class="dropdown-item" href="/properties_rent/new">Rent your Property</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/lands/new">Sell your Land</a>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto" style="margin-left:0.5rem!important">
						<% if(!currentUser){ %>
							<li class="nav-item dropdown"><a href="/login">Login</a></li>
							<li class="nav-item dropdown" id="pushDrop"><a href="/signup">Sign Up</a></li>
						<% }else { %>
							<% if(currentUser && currentUser.isAdmin){ %>
								<li class="nav-item dropdown"><a href="/users/<%= currentUser.id %>"> Signed In As Admin <%= currentUser.username %>  <i class="fas fa-cog"></i></a></li>
								<li class="nav-item dropdown" id="pushDrop"><a href="/logout">Logout</a></li>
							<% } else { %>
								<li class="nav-item dropdown"><a href="/users/<%= currentUser.id %>"> Signed In As <%= currentUser.username %>  <i class="fas fa-cog"></i></a></li>
								<li class="nav-item dropdown" id="pushDrop"><a href="/logout">Logout</a></li>
							<% } %>
						<% } %>
						</ul>
					</div>
				</nav> 
				<div class="jumbotron">
					<div class="display-4" data-aos="fade-right">Find Your Dream Home</div>
					<p class="lead">Buy a place that you will call home, and will feel like one.</p>
					<a class="btn btn-danger btn-lg" href="/properties" role="button">Find Home</a>
				</div>
			</div>

			<!--INFO SECTION-->
			<div class="display-3">
					<h1 data-aos="fade-up">Our Mission</h1>
			</div>
			<div class="container">
					<div class="row">
					<div class="col-lg-6">
						<div class="infoHeader">We don't sell Houses.<br>We provide Homes.</div>
						<div class="infoMessage">Here in Unreal Estate we have one motto.
						<br><br>
						<strong> <em>"A unique home for a unique customer."</em></strong>
						<br><br>
						Every person is different and has different needs. Each individual need can be satisifed by the right home that we'll find for you.
						</div>
					</div>
					<div class="col-lg-6">
						<img src="/images/info1.jpg">
					</div>
				</div>
				<div class="row" id="info2">
					<div class="col-lg-6">
						<img src="/images/info2.jpg">
					</div>
					<div class="col-lg-6">
						<div class="infoHeader">Location is Everything.<br>Point it, Get it.</div>
						<div class="infoMessage">Some people like the sea, some others prefer the mountain view.
						<br><br>
						No matter what your preference is, we got the right place for you.
						<br><br>
						Amazing fully-equiped villas in graphic locations to buy or rent. Spend your holidays or longer to one of our homes.
						</div>
					</div>
				</div>

			<!--MOBILE VERSION REVERSE ORDER-->

				<div class="row" id="info2Mobile">
					<div class="col-lg-6">
						<div class="infoHeader">Location is Everything.<br>Point it, Get it.</div>
						<div class="infoMessage">Some people like the sea, some others prefer the mountain view.
						<br><br>
						No matter what your preference is, we got the right place for you.
						<br><br>
						Amazing fully-equiped villas in graphic locations to buy or rent. Spend your holidays or longer to one of our homes.
						</div>
					</div>
					<div class="col-lg-6">
						<img src="/images/info2.jpg">
					</div>
				</div>
			</div>
			<!--CITIES SECTION-->
			
			<div class="display-3">
				<h1 data-aos="fade-up">Cities</h1>
			</div>
			<div class="row text-center" style="display: flex; flex-wrap: wrap;">
				<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<img src="/images/athens.jpg"> 
					<div class="caption">
						<h4>Athens</h4>
					</div>
				</div>
				</div>
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<img src="/images/los-angeles.jpg"> 
					<div class="caption">
						<h4>Los Angeles</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
				<img src="/images/sidney.jpg"> 
				<div class="caption">
					<h4>Sydney</h4>
				</div>
			</div>
			</div>
				<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<img src="/images/thessaloniki.jpg"> 
					<div class="caption">
						<h4>Thessaloniki</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<img src="/images/tokyo.jpg"> 
					<div class="caption">
						<h4>Tokyo</h4>
					</div>
				</div>
			</div>
				<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<img src="/images/trikala.jpg"> 
					<div class="caption">
						<h4>Trikala</h4>
					</div>
					</div>
				</div>
			</div>

    <%- include("./partials/footer") %>