<%- include("./partials/header") %>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="cardlog" id="loginForm">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <form class="login-form validate-form" name='login' action="/login" method="POST">
                    <div class="input-group form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input  type='text' class="form-control" name="username" placeholder="Username" required>
                    </div>
                    <div class="input-group form-group validate-input" data-validate="Password is required">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger float-right login_btn" id="propertyBtn">Login</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="/signup">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="/forgot">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
