<%- include("./partials/header") %>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="cardlog" id="resetForm">
            <div class="card-header">
                <h3>Password Reset</h3>
            </div>
            <div class="card-body">
                <form class="login-form validate-form" name='reset' action="/reset/<%= token %>" method="POST">
                    <div class="input-group form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
                    </div>
                    <div class="input-group form-group validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger float-right login_btn" value="update" id="propertyBtn">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
