<%- include("./partials/header") %>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="cardlog"  id="signUpForm">
            <div class="card-header">
                <h3>Sign Up</h3>
            </div>
            <div class="card-body">
                <form class="login-form validate-form pull-left" name='login' action="/signup" method="POST">
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user">    Username *</i></span>
                        </div>
                        <input  type='text' class="form-control" name="username" required>
                    </div>
                    <div class="input-group form-group-signUp validate-input" data-validate="Password is required">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key">    Password *</i></span>
                        </div>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user">    First Name</i></span>
                        </div>
                        <input type="text" id="propertyBtn" class="form-control" name="firstName">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user">    Last Name</i></span>
                        </div>
                        <input type="text" class="form-control" name="lastName">
                    </div>
                    <div class="input-group form-group-signUp validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope">    E-mail *</i></span>
                        </div>
                        <input  type="email" class="form-control" name="email" placeholder="Ex. unrealEstate@gmail.com" required>
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone">    Phone Number</i></span>
                        </div>
                        <input type="text" class="form-control" name="phone" placeholder="Ex. +30 69...">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-globe">    Address</i></span>
                        </div>
                        <input type="text" class="form-control" name="address">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt">    City</i></span>
                        </div>
                        <input type="text" class="form-control" name="city">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-ninja">    Avatar URL</i></span>
                        </div>
                        <input type="text" class="form-control" name="avatar" placeholder="Ex. http://example.png">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-cog">    Admin Code</i></span>
                        </div>
                        <input type="text" class="form-control" name="adminCode">
                    </div>
                    <span id="required">Fields with an asterisk ( * ) are required.</span>
                    <div class="form-group-signUp" id="signUpBtn">
                        <input type="submit" value="Sign Up" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <a href="/forgot">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>