/*RESETING HTML */
* {
    box-sizing:border-box;
    margin:0;
    padding: 0;
    font-size:100%;
}

body{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*HOME PAGE TRANSPARENT NAVBAR*/

.navbar-toggler{
    background-color:#FFFFFF;
}

#navJumbo{
    width:100%;
    height:100vh;
    background-image: url(/images/mainImage.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

.bg-light{
    padding:1rem;
    background-color: transparent!important;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size:1.5em;
    font-weight: 700;
    color:#FFFFFF!important;
    border-right: 1px solid white;
    padding-right:2em;
    padding-top:0;
}

ul li a{
    margin-right:2em;
    color:#FFFFFF!important;
    padding:0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#navbarDropdown{
    background-color: transparent;
    border:none;
    padding-left:1em;
}

.dropdown-menu{
    margin-left:1em;
}

.dropdown-item{
    color:#000!important;
}

.dropdown-item:hover{
    color:#FFFFFF!important;
    background-color: #b74040;
    border-radius: 0;
}

/*HOME PAGE JUMBOTRON*/

.jumbotron{
    background-color: transparent;
    color:#FFFFFF;
    font-family: 'Montserrat', sans-serif;
    }

.jumbotron .display-4{
    width:60%;
    height: auto;
    margin-top:2em;
    margin-left:10%;
    font-size:3em;
    font-weight: 800;
}

.jumbotron p{
    font-size:1em;
    font-weight:700;
    margin-top:2em;
    margin-left:10%;
}

.jumbotron .btn-lg{
    margin-left:10%;
    width:20%;
    background-color: #FFFFFF;
    color: #000;
    border-radius:10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border:none;
    box-shadow: 0px 3px 6px #00000066;
}
.jumbotron .btn-lg:hover{
    background-color: #b74040;
    color: #FFFFFF;
}

/*INFO SECTION*/

.infoHeader{
    margin-top:6em;
    font-size:2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#636161;
}

.infoMessage{
    margin-top:3em;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    color:#9d9d9d;
}

#info2Mobile{
    display:none;
}

.col-lg-6 img{
    margin-top:9em;
    width: 100%;
    height:60vh;
}

/*CITIES SECTION*/

.display-3 h1{
    background-color: whitesmoke;
    color:#636161;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top:5rem;
    padding:2em;
}

.thumbnail img{
    width:100%;
    height:30vh;
}

.thumbnail{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
}

.thumbnail .caption {
    padding: 9px;
    font-family: 'Montserrat', sans-serif;
    color:#636161;
    font-weight: 500;
    margin-top:1rem;
}

/* HOME PAGE FOOTER*/

.footer{
    flex-shrink: 0;
    padding-top: 1em;
    margin-top: auto;
    background-color: #FFFFFF;
}

.footer__links-header{
    color: #636161;;
    font-weight: 700;
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom:2em;
}
.footer_link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    outline: none;
    font-size: 1rem;
    color: #636161;
    text-decoration: none;
    margin-top:0.5rem;
}

.social{
    margin-right: 1em;
}

#logo{
    width:100%;
    height:auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MOBILE RESPONSIVENESS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@media screen and (max-width :750px){

    #navbarSupportedContent{
        margin-left:-1rem;
    }

    #pushDrop{
        margin-top:0.5rem;
    }
    .jumbotron .display-4{
        width:60%;
        height: auto;
        margin-top:4em;
        margin-left:0;
        font-size:2em;
        font-weight: 800;
    }

    .jumbotron p{
        font-size:1em;
        font-weight:700;
        margin-top:1em;
        margin-left:0;
    }

    .jumbotron .btn-lg{
        margin-left:0;
        width:50%;
        background-color: #FFFFFF;
        color: #000;
        border-radius:10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        border:none;
        box-shadow: 0px 3px 6px #00000066;
    }

    .display-3 h1{
        background-color: whitesmoke;
        color:#636161;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-top:1rem;
        font-size:0.5em;
        padding:2em;
    }

    .infoHeader{
        margin-top:1em;
        font-size:1.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color:#636161;
    }
    
    .infoMessage{
        margin-top:2em;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        line-height: 1.5em;
        color:#9d9d9d;
    }

    #info2{
        display:none;
    }
    
    #info2Mobile{
        display:block;
    }
    
    .col-lg-6 img{
        margin-top:2em;
        width: 100%;
        height:60vh;
    }

    #socialMobile{
        margin-top:1rem;
        margin-bottom:1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo{
        width:100%;
        height:auto;
        margin-left:20%;
    }
    
}