/*HTML RESET*/

* {
    box-sizing:border-box;
    margin:0;
    padding: 0;
    font-size:100%;
}

body{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*-----------NAVBAR-----------*/

.navbar-toggler{
    background-color:#FFFFFF;
}

.bg-light{
    padding:1rem;
    background-color: #b74040!important;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size:1.5em;
    font-weight: 700;
    color:#FFFFFF!important;
    border-right: 1px solid white;
    padding-right:2em;
    padding-top:0;
}

ul li a{
    color:#FFFFFF!important;
    padding:0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#navbarDropdown{
    background-color: transparent;
    border:none;
    padding-left:1em;
}

.dropdown-menu{
    margin-left:1em;
}

.dropdown-item{
    color:#000!important;
}

.dropdown-item:hover{
    color:#FFFFFF!important;
    background-color: #b74040;
    border-radius: 0;
}

/*---------FOOTER-----------*/
.footer{
    flex-shrink: 0;
    padding-top: 1em;
    margin-top: auto;
    background-color: #FFFFFF;
}

.footer__links-header{
    color: #636161;;
    font-weight: 700;
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom:2em;
}
.footer_link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    outline: none;
    font-size: 1rem;
    color: #636161;
    text-decoration: none;
    margin-top:0.5rem;
}

.social{
    margin-right: 1em;
}

#logo{
    width:100%;
    height:auto;
}

/*~~~~~~~~~~LOGIN AND SIGN UP~~~~~~~~~~~~*/

.cardlog{
    width:40%;
    height: auto;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: left;
    box-sizing: border-box;
    display: flex!important;
    justify-content: center!important;
    -webkit-tap-highlight-color: transparent;
    margin-top: 8rem;
    margin-bottom: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    box-shadow:0px 3px 6px #00000066;
    border-radius: .25rem;
}

.card-header{
    background-color: #b74040;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.login_btn{
    background-color: #b74040;
    border-radius: 50px;
    color:#FFFFFF;
}

.card-footer{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color:#464646;
}

/*~~~~~~~~INDEX~~~~~~~~~~~*/

.indexHeader{
background-color: whitesmoke;
justify-content: flex-start;
color:#636161;
height:5em;
position: relative;
}

#propertyThumbnail{
    margin-top:4em;
    margin-left:2em;
    margin-right:2em;
}

.thumbnail img{
    width:100%;
    height: 25vw;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full {
    padding: 1em;
    background-color: whitesmoke;
    border:1px solid #636161;
}

.thumbnail .caption-full h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #000;
    margin-top:1rem;
}

.deleteForm{
    display:inline;
}

#propertyBtn{
    margin-top:0.5em;
}

.lead{
    margin-top:4em;
}

#editThumbnail{
    margin-top:5em;
    margin-bottom: 4em;
}


.pull-right{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161;
    margin-top:0.5rem;
}

.properyHeader{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #636161;
    margin-top:0.5rem;
}

.propertyDesc{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161;
    margin-top:0.5rem;
}

.propertySize{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161;
}

/*~~~~~~~~COMMENTS~~~~~~~~~*/

.well{
    background-color: whitesmoke;
    padding:1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

#commentsBtn{
    margin-bottom: 1rem;;
}

   
#commentsWell{
        border:1px solid gray;
        border-left: 5px solid #28a745;
        margin-top:2rem;
    }

#push{
    margin-bottom:1rem;
}

#noComments{
    color: grey;
}

#editWell{
    border:1px solid gray;
    border-left: 5px solid #ffbb33;
    margin-top:1rem;
}

#editBtn{
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
}

#completeEdit{
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
}

.location{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161; 
}

#propertyList{
    width:70%;
}

#propertyList input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161; 
}

#propertyList textarea{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161; 
}

#propertyRentList{
    width:70%;
}

#propertyRentList input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161; 
}

#propertyRentList textarea{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161; 
}

#landList{
    width:70%;
}

#landList input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161; 
}

#landList textarea{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161; 
}

/*~~~~~~~~~~~EDIT FORMS~~~~~~~~~~~~*/

.formLabel{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #636161; 
}

/*~~~~~~~~ERROR MESSAGES~~~~~~~~*/

#error{
    margin-top:2em;
}

#errorSuccess{
    margin-top: 2em;
}

/*~~~~~~~ABOUT US~~~~~~~~~~*/

#welcome-section{
    width:100%;
    height: 50vh;
    background-image: url("/images/aboutus.png");
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

 #aboutus h3{
    font-size:3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #636161; 
}

#aboutus h4{
    font-size:2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #636161; 
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top:2em;
}

#aboutus p{
    font-size:1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #636161; 
}

/*~~~~~~~~~~~CAREERS~~~~~~~~~~*/

#career-banner{
    width:100%;
    height: 60vh;
    background-image: url("/images/careers.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#careers h3{
    font-size:3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #636161; 
    margin-left:35%;
    margin-top:5rem;
}

#careers h6{
    font-size:2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #636161; 
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top:6rem;
    padding-bottom:4rem;
}

/*~~~~~~~~SEARCH FORM~~~~~~~*/

#searchForm{
    margin-left:15%;
    margin-top:1.25rem
}

#formFlex{
    display: flex;
}

/*~~~~~~~~~MAP~~~~~~~~*/

#map {
    height: 400px;
    width: 100%;
    margin-top:5rem;
}

/*~~~~~SING UP FORM~~~~~~~*/

#signUpForm{
    width:80%;
}

.form-group-signUp{
    width:40%;
    display: inline-block;
    margin-left:3rem;
    margin-top:1rem;
}

#required{
    font-size:1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #636161; 
    display: block;
    margin-left:3rem;
    margin-top:1rem;
}
#signUpBtn{
    width:80%;
}

.input-group-text{
    width:100%;
    background-color:#b74040;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size:1.2em;
}

/*~~~~~~~~USER PROFILE~~~~~~~~*/

#profileCard{
    box-shadow:2px 2px 6px #00000066; 
    margin-top:2rem;
    border-bottom:2px solid gray;
}

#profileAvatar{
    margin-top:1rem;
    margin-bottom:1rem;
}
.caption-full h3{
    font-family: 'Montserrat', sans-serif;
    font-size:1.2em;
}

#profileInfo h4{
    margin-top:1rem;
    font-size:1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #636161; 
}

.propertyOwnage{
    margin-top:2rem;
    text-align: center;
    background-color: whitesmoke;
    font-size:2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#userBtn{
    margin-top:2rem;
    margin-bottom:1rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MOBILE RESPONSIVENESS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media screen and (max-width :750px){

    #socialMobile{
    margin-top:1rem;
    margin-bottom:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width:100%;
    height:auto;
    margin-left:20%;
}

#navbarSupportedContent{
    margin-left:-1rem;
}

#pushDrop{
    margin-top:0.5rem;
}

.thumbnail img{
    width:100%;
    height: 70vw;
}

/*~~~~~~~~~~~~~~~~~~~FORMS~~~~~~~~~~~~~~~~~~*/

#propertyList{
    width:100%;
}

#propertyRentList{
    width:100%;
}

#landList{
    width:100%;
}

#loginForm{
    width:100%;
}

#signUpForm{
    width:100%;
}

.form-group-signUp{
    width:80%;
    display: inline-block;
    margin-left:2rem;
    margin-top:1rem;
}

#required{
    font-size:1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #636161; 
    display: block;
    margin-left:0;
    margin-top:1rem;
}
#signUpBtn{
    width:80%;
}

.input-group-text{
    width:100%;
    background-color:#b74040;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size:1.2em;
}

#resetForm{
    width:100%;
}

#forgotForm{
    width:100%;
}
#map {
    height: 400px;
    width: 100%;
    margin-top:3rem;
}

#push{
    margin-bottom:1rem;
}

#welcome-section{
    width:100%;
    height: 50vh;
    background-image: url("/images/aboutusMobile.png");
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#aboutus h3{
    font-size:2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #636161; 
}

#aboutus h4{
    font-size:1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #636161; 
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top:2rem;
}

#aboutus p{
    font-size:1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #636161; 
}

#careers h3{
    font-size:3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #636161; 
    margin-left:0;
    margin-top:5rem;
}

#careers h6{
    font-size:1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #636161; 
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top:6rem;
    padding-bottom:4rem;
}
}