<%- include("../partials/header") %>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="cardlog" id="propertyList">
            <div class="card-header">
                <h3>Sell Your Land</h3>
            </div>
            <div class="card-body">
                <form action="/lands/<%=land._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label class="formLabel">Address</label>
                        <input class="form-control" type="text" name="location" id="location" value="<%= land.location %>">
                    </div>
                    <div class="form-group">
                        <label class="formLabel">Price</label>
                        <input class="form-control" type="number" value="<%= land.price %>" name="land[price]" min="1" step="1">
                    </div>
                    <div class="form-group">
                        <label class="formLabel">Image</label>
                        <input class="form-control" type="text" value="<%= land.image %>" name="land[image]">
                    </div>
                    <div class="form-group">
                        <label class="formLabel">Size in m²</label>
                        <input class="form-control" type="text" value="<%= land.size %>" name="land[size]">
                    </div>
                    <div class="form-group">
                        <label class="formLabel">Description</label>
                        <textarea rows="5" class="form-control" type="text" name="land[description]" maxlength="500"><%= land.description %></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" id="propertyBtn">Submit</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a href="/lands">Go back</a>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>