<%- include("../partials/header") %>

<header class="indexHeader">
    <div >
        <form action="/lands" method="GET" class="form-inline" id="searchForm">
            <div class="form-group" id="formFlex">
                <button type="submit" value="Search" class="btn btn-outline-info"><i class="fas fa-home"></i></button>
                <input type="text" name="search" placeholder="Property Search" class="form-control">
            </div>
        </form>
    </div>
</header>

<div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap;">
    <% lands.forEach(function(land){ %>
        <div class="col-md-6 col-sm-6">
            <div class="thumbnail" id="propertyThumbnail">
                <img src="<%= land.image %>"> 
                <div class="caption-full">
                    <h4><em> <%= land.location %></em></h4>
                    <h4>Size: <strong><em><%= land.size %> m²</em></strong></h4>
                    <h4>Price: <strong><em><%= land.price %> €</em></strong></h4>
                    <p>
                        <a href="/lands/<%= land._id %>" class="btn btn-md btn-outline-danger" id="propertyBtn">More Info</a>
                    </p>
                </div>
            </div>  
        </div>   
        <% }); %>
    </div>
</div>
<%- include("../partials/footer") %>
