<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="thumbnail" id="editThumbnail">
				<img class="image-responsive" src= "<%= land.image%>">
				<div class="caption-full">
					<h4 class="pull-right"><%= land.price %> €</h4>
					<h4><a class="properyHeader"><%= land.location %></a></h4>
					<h4 class="propertySize"><strong>Size: </strong><%= land.size %> m²</h4>
					<p class="propertyDesc"><%= land.description %></p>
					<p class="author"><em>Submitted By <strong><%= land.owner.username %>  </strong><%= moment(land.createdAt).fromNow() %></em></p>
					<% if(currentUser && land.owner.id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){ %>
					<a class = "btn btn-warning" href="/lands/<%= land._id %>/edit">EDIT</a>
					<form class="deleteForm" action="/lands/<%=land._id %>?_method=DELETE" method="POST">
						<button class = "btn btn-danger">DELETE</button>
					</form>
					<% } %>
				</div>
			</div>
		</div>
		<div class= "col-md-4">
			<div id="map"></div>
		</div>
    </div>
</div>

<script>
    function initMap() {
      var lat = <%= land.lat %>;
      var lng = <%= land.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= land.name %><br />
        <%= land.location %></strong>
        <p><%= land.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjBr_3ek853zT63b6v0ilc9mxczf__yMQ&callback=initMap"></script>
<%- include("../partials/footer") %>