<%- include("../partials/header") %>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="cardlog" id="propertyList">
            <div class="card-header">
                <h3>Sell Your Property</h3>
            </div>
            <div class="card-body">
                <form action="/properties/<%=property._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label class="formLabel">Address</label>
                        <input class="form-control" type="text" name="location" id="location" value="<%= property.location %>">
                    </div>
                    <div class="form-group">
                        <label class="formLabel">Price</label>
                        <input class="form-control" type="number" value="<%= property.price %>" name="property[price]" min="0.01" step="0.01">
                    </div>
                    <div class="form-group">
                        <label class="formLabel">Image</label>
                        <input class="form-control" type="text" value="<%= property.image %>" name="property[image]">
                    </div>
                    <div class="form-group">
                        <label class="formLabel">Size in m²</label>
                        <input class="form-control" type="number" value="<%= property.size %>" name="property[size]" min="0.01" step="0.01">
                    </div>
                    <div class="form-group">
                        <label class="formLabel">Bedrooms</label>
                        <input class="form-control" type="number" value="<%= property.bedroom %>" name="property[bedroom]">
                    </div>
                    <div class="form-group">
                        <label class="formLabel">Description</label>
                        <textarea rows="5" class="form-control" type="text" name="property[description]" maxlength="500"><%= property.description %></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" id="propertyBtn">Submit</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a href="/properties">Go back</a>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>