<%- include("../partials/header") %>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="cardlog" id="landList">
            <div class="card-header">
                <h3>Sell Your Property</h3>
            </div>
            <div class="card-body">
                <form action="/properties" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="location" id="location" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" placeholder="Price" name="price" min="0.01" step="0.01">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Image Url" name="image">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" placeholder="Size in m²" name="size" min="0.01" step="0.01">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" placeholder="Bedrooms" name="bedroom">
                    </div>
                    <div class="form-group">
                        <textarea rows="5" class="form-control" type="text" placeholder="Add description" name="description" maxlength="500"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" id="propertyBtn">Submit</button>
                    </div>
                </form>
             </div>
            <div class="card-footer">
                <a href="/properties">Go back</a>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>