<%- include("../partials/header") %>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="cardlog"  id="signUpForm">
            <div class="card-header">
                <h3>Edit Profile</h3>
            </div>
            <div class="card-body">
                <form class="login-form validate-form pull-left" name='login' action="/users/<%=user.id %>?_method=PUT" method="POST">
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user">    Username *</i></span>
                        </div>
                        <input  type='text' class="form-control" name="user[username]" value="<%= user.username %>" required>
                    </div>
                    <div class="input-group form-group-signUp validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope">    E-mail *</i></span>
                        </div>
                        <input  type="email" class="form-control" name="user[email]" value="<%= user.email %>" required>
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user">    First Name</i></span>
                        </div>
                        <input type="text" class="form-control" name="user[firstName]" value="<%= user.firstName %>">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user">    Last Name</i></span>
                        </div>
                        <input type="text" class="form-control" name="user[lastName]"value="<%= user.lastName %>">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-globe">    Address</i></span>
                        </div>
                        <input type="text" class="form-control" name="user[address]" value="<%= user.address %>">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt">    City</i></span>
                        </div>
                        <input type="text" class="form-control" name="user[city]" value="<%= user.city %>">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone">    Phone Number</i></span>
                        </div>
                        <input type="text" class="form-control" name="user[phone]" value="<%= user.phone %>">
                    </div>
                    <div class="input-group form-group-signUp validate-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-ninja">    Avatar URL</i></span>
                        </div>
                        <input type="text" class="form-control" name="user[avatar]" value="<%= user.avatar %>">
                    </div>
                    <span id="required">Fields with an asterisk ( * ) are required.</span>
                    <div class="form-group-signUp" id="signUpBtn">
                        <input type="submit" value="Submit" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <a href="/forgot">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>