<%- include("../partials/header") %>

<div class="container">
    <div class="row" id="profileCard">
        <div class= "col-md-4">
        	<div class="thumbnail" id="profileAvatar">
                <img class="image-responsive" src= "<%= user.avatar%>">
            </div>
        </div>
        <div class="col-md-8" id="profileInfo"> 
            <h4><em>First Name: </em> <%= user.firstName %></h4>
            <h4><em>Last Name: </em><%= user.lastName %></h4>
            <h4><em>Username: </em><%= user.username %></h4>
            <h4><em>Email: </em><%= user.email %></h4>
            <h4><em>Address: </em><%= user.address %></h4>
            <h4><em>City: </em><%= user.city %></h4>
            <h4><em>Phone: </em><%= user.phone %></h4>
            <a class = "btn btn-info" id="userBtn" href="/users/<%= user._id %>/edit">EDIT PROFILE</a>
        </div>
    </div>
    <div class="propertyOwnage">
        <h1>Properties On Sale</h1>
    </div>
    <div class="container">
        <div class="row" style="display: flex; flex-wrap: wrap;">
            <% properties.forEach(function(property){ %>
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail" id="propertyThumbnail">
                    <img src="<%= property.image %>"> 
                    <div class="caption-full">
                        <h4><em><%= property.location %></em></h4>
                        <h4>Size: <strong><em><%= property.size %> m²</em></strong></h4>
                        <h4>Price: <strong><em><%= property.price %> €</em></strong></h4>
                        <p>
                            <a href="/properties/<%= property._id %>" class="btn btn-md btn-outline-danger" id="propertyBtn">More Info</a>
                        </p>
                    </div>
                </div>
             </div>
            <% }); %>
        </div>
    </div>
    <div class="propertyOwnage">
        <h1>Properties On Rent</h1>
    </div>
    <div class="container">
        <div class="row" style="display: flex; flex-wrap: wrap;">
        <% properties_rent.forEach(function(property_rent){ %>
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail" id="propertyThumbnail">
                    <img src="<%= property_rent.image %>"> 
                    <div class="caption-full">
                        <h4><em><%= property_rent.location %></em></h4>
                        <h4>Size: <strong><em><%= property_rent.size %> m²</em></strong></h4>
                        <h4>Price: <strong><em> €<%= property_rent.price %>/night</em></strong></h4>
                        <p>
                            <a href="/properties_rent/<%= property_rent._id %>" class="btn btn-md btn-outline-danger">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="propertyOwnage">
        <h1>Land On Sale</h1>
    </div>
    <div class="container">
        <div class="row" style="display: flex; flex-wrap: wrap;">
        <% lands.forEach(function(land){ %>
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail" id="propertyThumbnail">
                    <img src="<%= land.image %>"> 
                    <div class="caption-full">
                        <h4><em> <%= land.location %></em></h4>
                        <h4>Size: <strong><em><%= land.size %> m²</em></strong></h4>
                        <h4>Price: <strong><em><%= land.price %> €</em></strong></h4>
                        <p>
                            <a href="/lands/<%= land._id %>" class="btn btn-md btn-outline-danger" id="propertyBtn">More Info</a>
                        </p>
                    </div>
                </div>  
            </div>   
            <% }); %>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>

